.first-section{
     background:#fff;
  
     padding:150px 0  40px;
     min-height:30vh;
     
}

.features-section h2.section__title {

    color: #444446;
}
.first-section__left {
    width: 60%;
        height: fit-content;

}
.features-section h2.section__title {
font-weight: 700;
font-size: 32px;
line-height: 38px;
color: #FFFFFF;
}

.first-section__left h1{
font-weight: 500;
font-size: 48px;
line-height: 56px;
color: #444446;
}

.first-section__right {
    width: 40%;
        height: fit-content;
   
}



.first-section__description {
     font-family: Roboto, sans-serif;
font-size: 18px;
line-height: 24px;
color:#444446;

}
.faq-section{
  background: #fff;
}
.faq_items{
  background: #ECF4F8;
border-radius: 30px;
width:70%;
padding:40px;
    
}
/*.faq-section{*/
/*    padding:80px 0;*/
/*}*/
.category_title{
 cursor:pointer;
font-size: 24px;
margin-bottom:20px;
padding:5px;
}
.category_title:hover{
    opacity:0.7;
}
.category_title.choosen{
       font-weight:normal ;
    color:#fff;
    text-align:center;
    background: #003C3C;
border-radius: 30px;
padding:5px 30px;
transition: 0.3s ease-in-out;
}
.faq-section .item_title{
    font-weight: bold;
font-size: 20px;
line-height: 1.5em;
padding:10px;
position:relative;
 border-bottom: 1px solid #000000;
}
.faq-section .item_title:before {
    display: block;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 10px;
   background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.905 8.4378H18.9062H11.5624V1.10789C11.5624 0.504634 11.074 0.000244141 10.4707 0.000244141H9.53106C8.92797 0.000244141 8.4374 0.504634 8.4374 1.10789V8.4378H1.09382C0.490894 8.4378 0 8.92561 0 9.52902V10.4741C0 11.077 0.490732 11.5627 1.09382 11.5627H8.43756V18.9191C8.43756 19.522 8.92797 20.0001 9.53122 20.0001H10.4709C11.0741 20.0001 11.5626 19.5219 11.5626 18.9191V11.5627H18.905C19.5083 11.5627 20 11.0768 20 10.4741V9.52902C20 8.92561 19.5083 8.4378 18.905 8.4378Z' fill='black'/%3E%3C/svg%3E%0A");
}
.faq-section .item_title.open:before {
    transform:rotate(225deg);
    transition: all 0.2s ease-out;
}
.faq_item{
    display:none;
    cursor:pointer;
    width:100%;
    padding:10px 0;
    margin-bottom:0;
   
}
.faq_item.filtered{
    display:block;
}
.faq-section .item_description{
    margin-top:20px;
    font-weight: normal;
font-size: 16px;
line-height: 1.6em;
color: #707077;

}
.contacts_description,.item_description{
    font-weight: normal;
font-size: 16px;
color: #707077;
}
.contacts_item{
    width:48%;
  padding:20px 40px;  
background: #F8F8F8;
border-radius: 30px;
}
.item_title{
    font-weight: bold;
font-size: 27px;
color: #444446;
margin:15px 0;

}

@media (max-width:767px) {
    .first-section{
     background:#F0F0F0;
}
        .first-section .wrap{
        flex-wrap:wrap;
    }

     .first-section__right,.first-section__left,.faq_items{
         width:100%;
     }
     .faq_grid{
         flex-wrap:wrap;
     }
.titles.flex--column{
    width:100%;
    flex-direction:row;
    flex-wrap:wrap;
}
    .first-section__left h1{
       font-size: 36px;
       line-height:1.6em;
    }
      
   
    
}
